In [ ]:
%pip install pandas

In [9]:
import pandas as pd

dataset = pd.read_csv('generated_data.csv')
display(dataset)

    Index First Name Last Name  Gender  Phone Number    Country
0       1    Charlie    Garcia    Male  +30-855-8901  Australia
1       2        Bob     Brown  Female  +11-843-3416    Germany
2       3        Eva    Garcia  Female  +74-918-4232     France
3       4      Alice    Taylor    Male  +57-571-8190      India
4       5    Charlie  Williams    Male   +9-579-1701  Australia
..    ...        ...       ...     ...           ...        ...
65     66        Bob     Smith    Male  +30-555-9240  Australia
66     67        Eva     Jones  Female  +32-597-1768         UK
67     68       Jane    Miller    Male  +23-178-7380  Australia
68     69        Bob  Williams  Female  +14-421-7929        USA
69     70       Jane    Miller  Female  +97-281-9195     France

[70 rows x 6 columns]