In [ ]:
%pip install pandas

In [1]:
import pandas as pd

dataset = pd.read_csv('generated_data.csv')
dataset.head()

   Index First Name Last Name  Gender  Phone Number    Country
0      1    Charlie    Garcia    Male  +30-855-8901  Australia
1      2        Bob     Brown  Female  +11-843-3416    Germany
2      3        Eva    Garcia  Female  +74-918-4232     France
3      4      Alice    Taylor    Male  +57-571-8190      India
4      5    Charlie  Williams    Male   +9-579-1701  Australia